{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="banner-home">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>

    <div class="carousel-inner">
        <a href="#" class="banner-link carousel-item">
            <picture>
                <source media="(max-width: 600px)" srcset="{% static 'img/banner-mobile-shapes.webp' %}">
                <img src="{% static 'img/banner-desktop-shapes.webp' %}" alt="Banner FlipStyleCompany" class="banner-img">
            </picture>
            <div class="banner-content">
                <h1>SHAPES SKATEBOARDS!</h1>
                <p>Confira agora!</p>
            </div>
        </a>
        
        <a href="#" class="banner-link carousel-item">
            <picture>
                <source media="(max-width: 600px)" srcset="{% static 'img/banner-mobile-buts.webp' %}">
                <img src="{% static 'img/banner-desktop-buts.webp' %}" alt="Banner 2" class="banner-img">
            </picture>
            <div class="banner-content">
                <h1>VÁRIOS BUTS!</h1>
                <p>Confira agora!</p>
            </div>
        </a>
        <a href="#" class="banner-link carousel-item">
            <picture>
                <source media="(max-width: 600px)" srcset="{% static 'img/banner-mobile-shapes-thrasher.webp' %}">
                <img src="{% static 'img/banner-desktop-shapes-thrasher.webp' %}" alt="THRASHER" class="banner-img">
            </picture>
            <div class="banner-content">
                <h1>THRASHER!</h1>
                <p>Confira agora!</p>
            </div>
        </a>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}