{% extends 'base.html' %}
{% load static %}
{% load query_transform %}

{% block title %}
    {{ brand_name|default:subcategory_name|default:category_name|default:"Produtos" }} | Flip Style Company
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
<div class="category-banner">
    <h1>
        {{ brand_name|default:subcategory_name|default:category_name|default:"Coleção Completa" }}
    </h1>
</div>

<main class="products-list-container">
    {% if request.GET.cor or request.GET.tamanho or request.GET.marca %}
        <div class="filtros-ativos">            
            {% if request.GET.cor %}
                <a href="?{% query_transform cor=None %}" class="tag-filtro">
                    {{ request.GET.cor|title }} <span>&times;</span>
                </a>
            {% endif %}
            
            {% if request.GET.tamanho %}
                <a href="?{% query_transform tamanho=None %}" class="tag-filtro">
                    {{ request.GET.tamanho }} <span>&times;</span>
                </a>
            {% endif %}

            {% if request.GET.marca %}
                <a href="?{% query_transform marca=None %}" class="tag-filtro">
                    {{ request.GET.marca|title }} <span>&times;</span>
                </a>
            {% endif %}

            <a href="{% url 'products' %}" class="limpar-tudo">
                Limpar tudo
            </a>
        </div>
    {% endif %}
    <div class="menu-filtros">
        <div class="filtros-esquerda">
            <div class="dropdown">
                <button class="dropbtn">COR ▾</button>
                <div class="dropdown-content"> 
                    {% for c in cores %}
                        {# Mantém marca, tamanho e ordena, alterando/inserindo apenas a cor #}
                        <a href="?{% query_transform cor=c.slug %}" class="btn-filtro">{{ c.name }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">TAMANHO ▾</button>
                <div class="dropdown-content">
                    {% for s in tamanhos %}
                        {# Mantém marca, cor e ordena, alterando/inserindo apenas o tamanho #}
                        <a href="?{% query_transform tamanho=s.slug %}" class="btn-filtro">{{ s.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="dropdown filtros-direita">
            <button class="dropbtn">ORDENAR POR ▾</button>
            <div class="dropdown-content menu-preco"> 
                <a href="?{% query_transform preco='asc' %}" class="btn-filtro">Menor Preço</a>
                <a href="?{% query_transform preco='desc' %}" class="btn-filtro">Maior Preço</a>
            </div>
        </div>
    </div>
    <div class="products-grid">
        {% for produto in products %}
        <a href="{% url 'product_detail' produto.slug %}" class="product-card">
            {% if produto.images.all %}
            <div class="product-img-wrapper">
                {% for img in produto.images.all|slice:":2" %}
                    <img src="{{ img.image.url }}" 
                         width="600"
                         height="600" 
                         alt="{{ produto.name }}" 
                         class="product-img {% if forloop.first %}primary-img{% else %}secondary-img{% endif %}"
                         {% if not forloop.parentloop.first %}loading="lazy"{% endif %}
                         decoding="async">
                {% endfor %}
            </div>
            {% endif %}
            
            <div class="product-info">
                <h3>{{ produto.brand.name }} - {{ produto.name }}</h3>
                <p class="product-price">R$ {{ produto.get_pix_price }}<span class="pix-discount-mini"> no Pix 5% off</span></p>
                <p class="product-installments">
                    Ou R$ {{ produto.price }} em 12x de R$ {{ produto.preco_parcelado|floatformat:2 }} sem juros
                </p>
            </div>
        </a>
        {% empty %}
        <div class="empty-state">
            <p>Nenhum produto encontrado nesta categoria.</p>
        </div>
        {% endfor %}
    </div>
    <nav class="pagination-nav">
        <a href="{% if page_obj.has_previous %}?{% query_transform page=page_obj.previous_page_number %}{% endif %}" 
        class="nav-btn {% if not page_obj.has_previous %}hidden{% endif %}">
        Anterior
        </a>

        <span class="page-info">
            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        <a href="{% if page_obj.has_next %}?{% query_transform page=page_obj.next_page_number %}{% endif %}" 
        class="nav-btn {% if not page_obj.has_next %}hidden{% endif %}">
        Próximo
        </a>
    </nav>
</main>
{% endblock %}