img, picture {
    display: block;
    max-width: 100%;
    height: auto;
}

.banner-home {
    position: relative;
    width: 100%;
    overflow: hidden; /* Esconde o que sai da tela */
}

/* Container que desliza as imagens */
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    touch-action: pan-y;
}

.carousel-item {
    min-width: 100%; /* Cada item ocupa 100% da largura */
    position: relative;
    display: block;
}

.banner-img {
    display: block;
    width: 100%;
    height: auto;
}

.banner-content {
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 25px;
    z-index: 1;
    transition: all 0.4s ease;
}

.banner-content h1 {
    font-family: Roboto Flex Bold 700;
    font-size: 17px;
    color: rgb(255, 255, 255);
}
.banner-content p {
    font-family: Roboto Flex Bold 700;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.banner-link {
    display: block;
    position: relative;
}



.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 10;
}
.prev { left: 10px; }
.next { right: 10px; }

@media (max-width: 600px) {
    .banner-content h1 { font-size: 13px; }
    .banner-content p { font-size: 14px; }
}