{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/webp" href="{% static 'img/favicon.webp' %}">
    <title>{% block title %}FlipStyleCompany | Streetwear{% endblock %}</title>
    <meta name="description" content="{% block description %}Sua essência, nosso estilo. Desde 1995, a FlipStyle une a tradição com o que há de mais atual no streetwear. Orgulhosamente de Itararé, nossa missão é impulsionar a cultura local, apoiando atletas e eventos que fazem o nosso skate acontecer. Vista sua verdade!{% endblock %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav class="nav-content" aria-label="Navegação Principal">   
            <ul class="nav-links">
                <li class="has-submenu">
                    <a href="{% url 'products' %}">Marcas</a>
                    <button class="toggle-submenu" aria-label="Abrir submenu" aria-expanded="false">+</button>
                    <div class="submenu">
                        <div class="submenu-inner">
                            <ul>
                                <li><a href="{% url 'products' %}?marca=avonts">Avonts</a></li>
                                <li><a href="{% url 'products' %}?marca=hocks">Hocks</a></li>
                                <li><a href="{% url 'products' %}?marca=new-skt">New</a></li>
                                <li><a href="{% url 'products' %}?marca=ous">Öus</a></li>
                                <li><a href="{% url 'products' %}?marca=thrasher">Thrasher</a></li>
                                <li><a href="{% url 'products' %}?marca=santa-cruz">Santa Cruz</a></li>
                                <li><a href="{% url 'products' %}?marca=tesla">Tesla</a></li>
                                <li><a href="{% url 'products' %}?marca=pixain">Pixain</a></li>
                                <li><a href="{% url 'products' %}?marca=xxl">XXL</a></li>
                                <li><a href="{% url 'products' %}?marca=mad-rats">Mad Rats</a></li>
                                <li><a href="{% url 'products' %}?marca=brothas">Brothas</a></li>
                                <li><a href="{% url 'products' %}?marca=stamp">Stamp</a></li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="has-submenu">
                    <a href="{% url 'category' category_slug='roupas' %}">Roupas</a>
                    <button class="toggle-submenu" aria-label="Abrir submenu" aria-expanded="false">+</button>
                    <div class="submenu">
                        <div class="submenu-inner">
                            <ul>
                                <li><a href="{% url 'subcategory' subcategory_slug='camisetas' %}">Camisetas</a></li>
                                <li><a href="{% url 'subcategory' subcategory_slug='calcas' %}">Calças</a></li>
                                <li><a href="{% url 'subcategory' subcategory_slug='blusas' %}">Blusas</a></li>
                                <li><a href="{% url 'subcategory' subcategory_slug='bermudas' %}">Bermudas</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                
                <li class="has-submenu">
                    <a href="{% url 'category' category_slug='area-skt' %}">Área SKT</a> 
                </li>
                
                <li class="has-submenu">
                    <a href="{% url 'category' category_slug='footwears' %}">Footwears</a>
                </li>
            </ul>

            <div class="logo_center">
                <a href="{% url 'home' %}" class="logo" aria-label="Página Inicial">
                    <img src="{% static 'img/logo.webp' %}"
                        class="logo-img"
                        alt="Logo FlipStyleCompany" 
                        width="60" 
                        height="60"
                        loading="eager">
                </a>
            </div>
            
            <div class="nav-right-spacer">
                <form action="{% url 'products' %}" method="GET" class="search-form" id="searchForm" value="{{ request.GET.search }}">
                    <div class="search-container">
                        <input type="text" name="search" id="searchInput" placeholder="Procure pelo nome" aria-label="Buscar produto" autocomplete="off">
                        <button type="submit" class="search-btn" id="submitSearch" aria-label="Executar busca">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>

            <button class="menu-toggle" aria-label="Abrir Menu" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
        <div class="menu-overlay" id="js-menu-overlay"></div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}
        <div class="footer-container">
            <div class="footer-column">
                <h4>Sobre</h4>
                <ul>
                    <li><a href="{% url 'quem_somos' %}">Quem somos</a></li>
                    <li><a href="{% url 'privacidade' %}">Política de Privacidade</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Fale com a gente</h4>
                <ul>
                    <li>flipstylecompanysup@gmail.com</li>
                    <li>(15) 99610-0598</li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Nossas Redes</h4>
                <div class="social-links">
                    <a href="https://instagram.com/flipstylecompany" target="_blank" aria-label="Instagram">
                        <img src="{% static 'img/icons/instagram-brands-solid-full.svg' %}" alt="Instagram">
                    </a>
                    <a href="https://wa.me/5515996100598?text=Olá! Gostaria de mais informações sobre como comprar na loja." target="_blank" aria-label="WhatsApp">
                        <img src="{% static 'img/icons/whatsapp-brands-solid-full.svg' %}" alt="WhatsApp">
                    </a>
                    <a href="https://www.facebook.com/silvio.pereira.927/" target="_blank" aria-label="Facebook" class="icon-facebook">
                        <img src="{% static 'img/icons/facebook-brands-solid-full.svg' %}" alt="Facebook">
                    </a>
                </div>
            </div>
        </div>
        <div class="payment-methods">
            <img src="{% static 'img/icons/pix.svg' %}" alt="Pix" class="icon-smaller">
            <img src="{% static 'img/icons/elo.svg' %}" alt="Elo" class="icon-smaller">
            <img src="{% static 'img/icons/hipercard.svg' %}" alt="Hipercard" class="icon-big">
            <img src="{% static 'img/icons/visa.svg' %}" alt="Visa" class="icon-smaller">
            <img src="{% static 'img/icons/master-icon.svg' %}" alt="Mastercard" class="icon-smaller">
        </div>

        <div class="footer-bottom">
            <p>&copy; 2026 FlipStyleCompany. CNPJ: 04439927000183, Rua Amazonas Ribas 287 - Itararé - SP - CEP 18460-051</p>
        </div>        
        {% endblock %}
    </footer>
    <a href="https://wa.me/5515996100598?text=Olá! Gostaria de mais informações sobre como comprar na loja." target="_blank" class="whatsapp-float">
        <img src="{% static 'img/icons/whatsapp-brands-solid-full.svg' %}" alt="WhatsApp">
    </a>
    <script src="{% static 'js/global.js' %}" defer></script>
    {% block extra_js %}{% endblock %}
</body>
</html>